[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dask = {extras = ["dataframe"], version = "*"}
pandas = "*"
memory-profiler = "*"

[dev-packages]
yapf = "*"
matplotlib = "*"
pylint = "*"

[requires]
python_version = "3.8"
