[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
memory-profiler = "*"

[dev-packages]
yapf = "*"
matplotlib = "*"
pylint = "*"
jupyter = "*"

[requires]
python_version = "3.8"

[packages.dask]
extras = [ "dataframe",]
version = "*"
